#about-body {
    min-height: 100vh;
    padding-top: 75px;
}

.about {
    font-size: large;
    margin-top: 10px;
    margin-left: 10%;
    padding-bottom: 10px;
    width: 80%;
    border:orange 1px solid;
    text-align: center;
}

#languageBtn {
    position: relative;
    float: right;
    right: 0;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}